/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.notice {
  background-color: green;
}

.alert {
  background-color: coral;
}

.notice, .alert {
  text-align: center;
  padding: 10px;
}

.flash {
  position: relative;
}

.flash-close {
  top: 10px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
